<div class=" mt-5 texts-wrapper">
  <div class="contents-title text-center">
    <div class="card">
      <%= image_tag "top.jpeg", class: "card-img" %>
      <div class="card-img-overlay">
        <div data-aos="fade-up">
          <%= image_tag 'camplet.png', :size =>'250x250' %>
          <p class="card-text">家族や友人とキャンプ旅行に行く際に持っていくキャンプ道具(キャンプギア)を共有するアプリです。</p>
          <h2 class="card-text">このアプリが解決!!</h2>
          <p class="card-text">持ち物が多く管理しないと忘れてしまう...友人や家族とキャンプに行く際、持ち物が多いので共有が大変...</p>
          <p class="card-text">このアプリにキャンプギアの持ち物の登録をすれば旅行する際、メンバーと簡単に情報共有ができます。</p>
        </div>
      </div>
    </div>

    <h1>機能一覧</h1>
    
    <div data-aos="fade-up">
      <div class=" mt-5 row">
        <div class="card" style="width: 20rem; background-color: #fdf5e3">
          <%= image_tag 'gear.png', class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">『キャンプギア登録機能』</h5>
            <p class="card-text">ユーザーが持ってるキャンプギアの登録・確認ができ、物が多くなっても検索ができます。</p>
          </div>
        </div>
        <div class="card" style="width: 20rem; background-color: #fdf5e3">
          <%= image_tag 'travel_plan.png', class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">『旅行プラン機能』</h5>
            <p class="card-text">行き先、チェックイン、チェックアウトの時間、持ち物リストの登録をすることができます。</p>
          </div>
        </div>
        <div class="card" style="width: 20rem; background-color: #fdf5e3">
          <%= image_tag 'chat.png', class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">『チャット機能』</h5>
            <p class="card-text">メンバー同士で投稿した旅行プランにコメントができます。</p>
          </div>
        </div>
        <div class="card" style="width: 20rem; background-color: #fdf5e3">
          <%= image_tag 'belongings.png', class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title">『持ち物リスト機能』</h5>
            <p class="card-text">用意する持ち物を自分が登録してたギアかデフォルトの持ち物で選択し登録できます。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>