<%= form_with(model: travel_plan, local: true, url: choose_new_or_edit) do |form| %>

  <% if travel_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel_plan.errors.count, "件のエラー") %> のため旅行プランは登録出来ませんでした:</h2>
      <ul>
        <% travel_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_schedule_at %>
    <%= form.datetime_select :start_schedule_at %>
  </div>

  <div class="field">
    <%= form.label :end_schedule_at %>
    <%= form.datetime_select :end_schedule_at %>
  </div>

  <%= form.hidden_field :team_id, :value => params[:team_id] %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
