
<p>
  <strong>Name:</strong>
  <%= @travel_plan.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @travel_plan.team.name %>
</p>

<p>
  <strong>Start schedule at:</strong>
  <%= @travel_plan.start_schedule_at %>
</p>

<p>
  <strong>End schedule at:</strong>
  <%= @travel_plan.end_schedule_at %>
</p>


<%= link_to 'Edit', edit_team_travel_plan_path(Team.find(params[:team_id]), @travel_plan) %> |
<%= link_to 'Back', team_travel_plans_path %>
