<p>
  <strong>Team:</strong>
  <%= @travel_plan.team.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @travel_plan.name %>
</p>


<p>
  <strong>Start schedule at:</strong>
  <%= @travel_plan.start_schedule_at %>
</p>

<p>
  <strong>End schedule at:</strong>
  <%= @travel_plan.end_schedule_at %>
</p>

<p>
  <strong>持ち物リスト:</strong>
  <% @travel_plan.labels.each do |label| %>
    <%= label.name %>
  <% end %>
</p>

<p>
  <strong>ユーザー、持ち物リスト:</strong>
  <td><% @travel_plan.gears.each do |gear| %>
    <%= gear.name %>
  <% end %></td>
</p>

<br>

<h3>持ち物を登録する</h3>

<%= form_with(model: [@team, @travel_plan]) do |form| %>

  <div class="field">
    <%= form.label :持ち物 %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :ユーザーのキャンプギア %>
    <%= form.collection_check_boxes(:gear_ids, Gear.where(user_id: current_user.id), :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>

<%= link_to '削除', travel_plan_path(@travel_plan), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to '編集', edit_travel_plan_path(id:@travel_plan.id, team_id:@travel_plan.team_id) %> |
<%= link_to '旅行一覧', team_travel_plans_path(@travel_plan.team_id) %>

<p>コメント一覧</p>

  <div id="chats_area">
    <%= render partial: 'chats/index', locals: { travel_plan: @travel_plan, chats: @chats } %>
  </div>

  <%= render partial: 'chats/form', locals: { travel_plan: @travel_plan, chat: @chat } %>
<br>

