<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @travel_plan.name %>
</p>

<p>
  <strong>Start schedule at:</strong>
  <%= @travel_plan.start_schedule_at %>
</p>

<p>
  <strong>End schedule at:</strong>
  <%= @travel_plan.end_schedule_at %>
</p>

<p>
  <strong>Team:</strong>
  <%= @travel_plan.team_id %>
</p>

<%= link_to 'Edit', edit_travel_plan_path(@travel_plan) %> |
<%= link_to 'Back', travel_plans_path %>
