<p>
  <strong>Team:</strong>
  <%= @travel_plan.team.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @travel_plan.name %>
</p>


<p>
  <strong>Start schedule at:</strong>
  <%= @travel_plan.start_schedule_at %>
</p>

<p>
  <strong>End schedule at:</strong>
  <%= @travel_plan.end_schedule_at %>
</p>

<p>
  <strong>持ち物リスト:</strong>
  <% @travel_plan.labels.each do |label| %>
    <%= label.name %>
  <% end %>
</p>

<p>
  <strong>ユーザー、持ち物リスト:</strong>
  <td><% @travel_plan.gears.each do |gear| %>
    <%= gear.name %>
  <% end %></td>
</p>

<br>

<h3>持ち物を登録する</h3>

<%= form_with(model: [@team, @travel_plan]) do |form| %>

  <div class="field">
    <%= form.label :持ち物 %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :ユーザーのキャンプギア %>
    <%= form.collection_check_boxes(:gear_ids, Gear.where(user_id: current_user.id), :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>

<p>コメント一覧（ここから下の内容が重要）</p>

  <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
  <div id="chats_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
    <%= render partial: 'chats/index', locals: { team: @team, travel_plan: @travel_plan, chats: @chats } %>
  </div>

  <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'chats/form', locals: { team: @team, travel_plan: @travel_plan, chat: @chat } %>
<br>

<%= link_to '削除', team_travel_plan_path(@team, @travel_plan), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to '編集', edit_team_travel_plan_path(@team, @travel_plan) %> |
<%= link_to '旅行一覧', team_travel_plans_path %>
