<div class="texts-wrapper">
  <div class="contents-title text-center">
    <h1 class = "mt-5 mb-5"><%= @user.name %>のページ</h1>

    <p>名前: <%= @user.name %></p>

    <p>メールアドレス: <%= @user.email %></p>

    <% if current_user.id == @user.id %>
      <%= button_to "プロフィールを編集",  edit_user_registration_path(@user), method: :get %>
    <% end %>

    <br>
    <button type="button" class="btn btn-outline-info" style="background-color: #e3f2fd;">
      <%= link_to 'キャンプギア一覧', gears_path %>
    </button>
    <button type="button" class="btn btn-outline-info" style="background-color: #e3f2fd;">
      <%= link_to '所属チーム一覧', teams_path %>
    </button>
  </div>
</div>

