<%= form_with(model: gear) do |form| %>
  <% if gear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gear.errors.count, "件のエラー") %> のためキャンプギアは登録出来ませんでした:</h2>

      <ul>
        <% gear.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "例)テント" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: "例)テントの詳細" %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
