<h1>検索結果</h1>

<%= link_to 'ギア一覧へ', gears_path %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |gear| %>
      <tr>
        <td><%= gear.user.name %></td>
        <td><%= gear.name %></td>
        <td><%= gear.quantity %></td>
        <td><%= image_tag gear.image.url if gear.image.present? %></td>
        <td><%= link_to '詳細', gear %></td>
      </tr>
    <% end %>
  </tbody>
</table>
