<h1>Gear show</h1>

<p>
  <strong>User:</strong>
  <%= @gear.user.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @gear.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gear.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @gear.quantity %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @gear.image.url if @gear.image.present? %>
</p>


<%= link_to '編集', edit_gear_path(@gear) %> |
<%= link_to '削除', @gear, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'キャンプギア一覧', gears_path %>
