<h1>キャンプギア詳細</h1>

<p>
  <strong>ユーザー:</strong>
  <%= @gear.user.name %>
</p>

<p>
  <strong>名前:</strong>
  <%= @gear.name %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @gear.description %>
</p>

<p>
  <strong>数量:</strong>
  <%= @gear.quantity %>
</p>

<p>
  <strong>画像:</strong>
  <%= image_tag @gear.image.url if @gear.image.present? %>
</p>


<%= link_to '編集', edit_gear_path(@gear) %> |
<%= link_to '削除', @gear, method: :delete, data: { confirm: '本当に削除しますか?' } %>
<%= link_to 'キャンプギア一覧', gears_path %>
