<!DOCTYPE html>
<html>
  <head>
    <title>Camplet</title>
    <!-- ファビコンの設定 -->
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- googlefonts設定 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">
    <!-- aosの設定 -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- bootstrapアイコンの設定 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  </head>

  <body>
    <!-- ナビゲーションメニュー -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <%= link_to image_tag('camplet.png', size: '50x50'), "/", class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
            <%= link_to "マイページ", user_path(current_user.id), class: "nav-link" %>
            <%= link_to "キャンプギア登録", new_gear_path, class: "nav-link" %>
            <%= link_to 'チーム作成', new_team_path, class: "nav-link" %>
            <% if current_user.admin? %>
              <%= link_to "管理者画面", rails_admin_path, class: "nav-link" %>
            <% end %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "nav-link" %>
            <%= link_to 'ゲスト管理者ログイン', users_guest_admin_sign_in_path, method: :post, class: "nav-link" %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class = "container">
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
      
      <%= yield %>
    </div>
    
    <nav class="navbar absolute-bottom navbar-light" style="background-color: #e3f2fd;">
      <%= link_to" ©2022 Camplet", "/", class: "navbar-brand" %>
    </nav>
    
    <span id="back">
      <a href="">
        <%= image_tag asset_path('arrow.jpg'), data: {"turbolinks"=>false}, class: "arrow" %>
      </a>
    </span>

    <!-- aosの設定 -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 50,
        delay: 600,
        duration: 1000,
        easing: 'ease-in-out-quad',
        anchorPlacement: 'top-center',
        once: true,
      });
    </script>
  </body>
</html>
